* {
  margin: 0;
  padding: 0;
}

/* most used */
.container {
  margin: 150px auto;
  width: 1320px;
}
.mini-margin {
  margin: 25px 0;
}
.mini-gap {
  padding: 25px 0;
}
.mid-gap {
    padding: 100px 0;
}
.d-block {
  display: block;
}
.text-primary {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
/* header area customization */
header {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-section {
  background-image: url(./resources/Banner\ Image.png);
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./resources/Banner\ Image.png);
  height: 600px;
  width: 1320px;
  color: #fff;
  text-align: center;
  font-family: marriweather, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .banner-texts p,
h1 {
  color: #fff;
  text-align: center;
  font-family: marriweather, serif;
} */
.banner-texts {
  width: 50%;
}
.banner-section p {
  font-size: 32px;
  font-weight: 400;
}
.banner-section h1 {
  font-size: 72px;
  font-weight: 900;
}

/* categories section customization */
.categories h1 {
  color: #f00;
  text-align: center;
  font-weight: 700;
  font-size: 88px;
  font-family: Inter;
}
.categories h3 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}
.categories h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}
.new-year-photo {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* midnight party customization */
.midnight-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.midnight-party {
  height: 600px;
  width: 1320px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./resources/Vectorrr.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.midnight-party h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.midnight-party p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.midnight-party button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 10px 20px;
}

.midnight-party-contents {
  width: 50%;
  padding-right: 20px;
}

/* event area customization */
.event {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    /* height: 480px; */
}
.event button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  background-color: #f00;
  border-radius: 8px;
  margin-top: 60px;
}

.event p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
