* {
  margin: 0;
  padding: 0;
}

button,
input[type="button"] {
  cursor: pointer;
}

/* most used */
.container {
  margin: 150px auto;
  width: 1320px;
}
.mini-margin {
  margin: 25px 0;
}
.mini-gap {
  padding: 25px 0;
}
.mid-gap {
  padding: 100px 0;
}
.d-block {
  display: block;
}
.text-primary {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
/* header area customization */
header {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-section {
  background-image: url(./resources/Banner\ Image.png);
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./resources/Banner\ Image.png);
  height: 600px;
  width: 1320px;
  color: #fff;
  text-align: center;
  font-family: marriweather, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .banner-texts p,
h1 {
  color: #fff;
  text-align: center;
  font-family: marriweather, serif;
} */
.banner-texts {
  width: 50%;
}
.banner-section p {
  font-size: 32px;
  font-weight: 400;
}
.banner-section h1 {
  font-size: 72px;
  font-weight: 900;
}

/* categories section customization */
.categories h1 {
  color: #f00;
  text-align: center;
  font-weight: 700;
  font-size: 88px;
  font-family: Inter;
}
.categories h3 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}
.categories h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}
.new-year-photo {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* midnight party customization */
.midnight-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.midnight-party {
  height: 600px;
  width: 1320px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./resources/Vectorrr.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.midnight-party h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.midnight-party p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.midnight-party button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 10px 20px;
}

.midnight-party-contents {
  width: 50%;
  padding-right: 20px;
}

/* event area customization */
.event {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  /* height: 480px; */
}
.event button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  background-color: #f00;
  border-radius: 8px;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Inter;
}

.event p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

/* best offer area customization */
.best-offer-contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.best-offer-contents .left {
  width: 35%;
}
.best-offer-contents .middle {
  width: 45%;
}
.best-offer-contents .right {
  width: 20%;
}
.best-offer-contents .middle img {
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 30px;
}
.best-offer-contents h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.best-offer-contents h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.best-offer-contents p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.best-offer-contents h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.left {
  padding-right: 40px;
}

/* holidaays sale area customization */
.holidays-sale-contents {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-75 {
  width: 75%;
}
.holidays-sale-contents h5 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holidays-sale-contents h1 span {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.holidays-sale-contents h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.holidays-sale-contents p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 50px;
}
/* .image-merge {
    position: relative;
} */
/* .box-base {
    position: relative;
}
.discount-woman {
    position: relative;
} */
.box {
  position: relative;
  top: 200px;
}
.base {
  position: static;
}
.discount {
  position: relative;
  bottom: 710px;
  left: 740px;
  z-index: 11;
}
.woman {
  position: relative;
  bottom: 666px;
  left: 580px;
  z-index: 10;
}
.image-merge {
  margin-top: -100px;
}

/* portfolio area customization */
.portfolio {
  margin-top: -350px;
}
.portfolio-texts h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.portfolio-texts h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.portfolio-texts p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.portfolio-texts {
  max-width: 75%;
  margin-bottom: 40px;
}

.row1,
.row2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
}

/* subscribe area customization */
.subscribe {
  height: 600px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.subscribe p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.subscribe-image {
  display: block;
  text-align: center;
}
.subscribe-contents {
  width: 75%;
}
.form {
  margin-top: 30px;
  text-align: center;
}
.form input[type="email"] {
  padding: 20px 80px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  color: rgba(255, 0, 0, 0.05);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-right: -3px;
}
.form input[type="button"] {
  padding: 20px 30px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  background-color: #f00;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

/* footer area customization */
footer {
  background: #070211;
  height: 600px;
  color: #fff;
  padding: 40px 0 0 0;
}
.sub-section1 {
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.sub-section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sub-section3 {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.sub-section3 button {
  color: #fff;
  font-weight: 500;
  background-color: transparent;
  border: none;
  font-size: 24px;
}
